name: Docs Check

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - '**.md'
  pull_request:
    branches: [ "main", "master" ]
    paths:
      - '**.md'

jobs:
  markdown-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Link Checker
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        config-file: '.github/link-check-config.json'
      continue-on-error: true

    - name: Markdown Lint
      uses: DavidAnson/markdownlint-cli2-action@v1
      with:
        globs: '**/*.md'
